.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  // 牛
  &__img {
    & > img {
      width: 96px;
      height: 96px;
    }
  }

  // 名前

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;

    // 日本語
    &-ja {
      width: 275px;
      height: auto;
    }
    // 英語
    &-en {
      width: 142px;
      height: auto;
    }
  }
}
